main {
    padding: 16px;
}

.item {
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}
    
.btn-block input {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background:  /* #669999 */ #333;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
    
.btn-block input:hover {
    background:  /* #a3c2c2 */ orangered;
}

.check {
    display: inline-block;
    margin: 5px;
}

#errorMessage {
    color: red;
    font-weight: bolder;
}